{% extends "base.html" %}

{% block body %}
<div id="bighead">
  <div id="h1-nav-wrapper">
    <h1>Keith Schacht’s Blog</h1>
    <nav style="flex: 1">
      <ul style="flex-direction: row-reverse;">
        <li><a href="/about/" style="color: #0303bb !important">About</a></li>
        <li><a href="/about/#subscribe" style="color: #0303bb !important">Subscribe</a></li>
      </ul>
    </nav>
  </div>
  <div class="h1-nav-wrapper">
    <p style="display: block; padding-bottom: 1em">
      I'm one part inventor, one part explainer, and one part entrepreneur.
      I post regularly on
      <a href="https://www.youtube.com/@keith-schacht">YouTube</a>,
      <a href="https://www.instagram.com/keith__schacht">Instagram</a>, and
      <a href="https://www.tiktok.com/@keith_schacht">TikTok</a>. I've started many... <a href="/about/" style="color: #0303bb !important">more</a>
  </p>
  </div>
  <div id="bigheadcontainer">
  {% if current_tags %}<p id="currenttags">View tag {% for tag in current_tags %}<a href="/tags/{{ tag }}/" class="item-tag">{{ tag }} <span>{{ tag.total_count }}</span></a> {% endfor %}<a href="/tags/" class="more">...</a></p>{% else %}<a href="/tags/">Tags...</a>{% endif %}
  <form action="/search/" method="GET"><div>
    <input type="search" placeholder="Search this site" class="search-input" name="q" value="" style="margin-top: 0.5em">
    <input type="submit" class="search-submit" value="Search">
  </div></form>
  </div><!-- #bigheadcontainer -->
</div><!-- #bighead -->

<div id="hero-banner">
  <div class="hero-content">
    <h2 class="section-header">AI DEMOS</h2>
    <div class="intro-row">
      <div class="intro-image">
        <a href="https://taskmaster.keithschacht.com"><img src="/static/images/task-master.webp" alt="Task Master"></a>
      </div>
      <div class="intro-text">
        <p>Try this demo of voice input with visual output.</p>
      </div>
    </div>
  </div>
</div>

<div id="band">&nbsp;</div>

<div id="wrapper">
<div id="secondary">
{% block secondary %}{% endblock %}
</div> <!-- #secondary -->

<div id="primary">
{% block primary %}{% endblock %}
</div> <!-- #primary -->
</div> <!-- #wrapper -->
{% endblock %}
